:root {
    --primary-color: #282828;
    --secondary-color: #121212;
    --accent-color: #575757;
    --light-primary-color: #717171;
    --light-secondary-color: #8b8b8b;
    --text-color: #E1E1E1;
    --selected-color: #C28427;
    --hover-selected-color: #E2b427;
    --hover-color: #E1E1E1;
}

.provoles-list {
    overflow: hidden;
    margin-bottom: 3em;
}
.provoles-table {
    margin-top: 2em;
}
.provoles-table tr {
    border: 2px solid var(--primary-color);
    font-size: 1.05em;
    position: relative;
}
.provoles-table td:first-child
{
    padding: 0;
}
.provoles-table a {
    font-size: 3em;
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    max-width: 100%;
    color: var(--secondary-color);
    text-decoration: none;
}
.provoles-table a:hover {
    background: none;
    color: var(--hover-color);
    text-decoration: none;
}
.provoles-table-row:hover {
    border: 2px solid var(--primary-color);
    background: var(--hover-color);
    color: var(--primary-color);
}
.provoles-table th {
    font-size: 1.2em;
    padding: 1em 1em;
}
.provoles-table td {
    padding: 0.5em 7em 0.5em 1em;
}