:root {
    --primary-color: #282828;
    --secondary-color: #121212;
    --accent-color: #575757;
    --light-primary-color: #717171;
    --light-secondary-color: #8b8b8b;
    --text-color: #E1E1E1;
    --selected-color: #C28427;
    --hover-selected-color: #E2b427;
    --hover-color: #E1E1E1;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #6D5D6E;
}

html {
    position: relative;
    min-height: 100%;
    color: var(--text-color);
}

body {
    margin-bottom: 60px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.nav-item {
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.home-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #282828;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #5c636a;
    border-bottom: 2px solid #5c636a;
}
.home-container h1, .home-container h2 {
    color: #fff;
    text-align: center;
}
.home-container ul,.home-container ol {
    color: #fff;
}
.home-container p {
    color: #fff;
    text-align: justify;
}
.home-container div {
    margin-top: 1em;
}