@model BookingWebApplication.Models.Movie

@{
    ViewData["Title"] = "Add New Movie";
}

<head>
    <script src="~/js/contentadmins.js" type="text/javascript" asp-append-version="true"></script>
</head>

<h2>Add New Movie</h2>

<form id="add-movie-form" asp-action="CreateMovie" asp-controller="ContentAdmins" method="post">
    @Html.AntiForgeryToken()

    @{
        if (ViewBag.Error != null)
        {
            <span class="text-danger">@ViewBag.Error</span>
        }
    }

    <div class="form-group">
        <label asp-for="MovieName" class="form-label mt-4">Name:</label>
        <input asp-for="MovieName" class="form-control" required />
        <span asp-validation-for="MovieName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MovieType" class="form-label mt-4">Type:</label>
        <input asp-for="MovieType" class="form-control" required />
        <span asp-validation-for="MovieType" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="MovieLength" class="form-label mt-4">Length:</label>
        <br/>
        <input type="number" oninput="onFormatHours(this.value)" max="85" min="0" id="hours" value="0" required /> hours, &nbsp; <input type="number" oninput="onFormatMinutes(this.value)" max="59" min="0" id="minutes" value="1" required /> minutes
        <input asp-for="MovieLength" type="number" id="length" value="1" hidden readonly />
    </div>

    <div class="form-group">
        <label asp-for="MovieSummary" class="form-label mt-4">Summary:</label>
        <input asp-for="MovieSummary" class="form-control" />
        <span asp-validation-for="MovieSummary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MovieDirector" class="form-label mt-4">Director:</label>
        <input asp-for="MovieDirector" class="form-control" />
        <span asp-validation-for="MovieDirector" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MovieContent" class="form-label mt-4">Content:</label>
        <input asp-for="MovieContent" class="form-control" />
        <span asp-validation-for="MovieContent" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="button" onclick="editBeforeSubmit()" value="Add" class="btn btn-secondary mt-4" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
