@model BookingWebApplication.Models.Provoli

@{
    ViewData["Title"] = "Create Movie Screening";
}

<h2>Create Movie Screening</h2>

<form asp-action="CreateProvoli" asp-controller="ContentAdmins" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="MoviesName" class="form-label mt-4">Movie Name:</label>
        <select asp-for="MoviesName" asp-items="ViewBag.Movies" class="form-control"></select>
        <span asp-validation-for="MoviesName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CinemasID" class="form-label mt-4">Cinema:</label>
        <select asp-for="CinemasID" asp-items="ViewBag.Cinemas" class="form-control"></select>
        <span asp-validation-for="CinemasID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ShowDateTime" class="form-label mt-4">Show Date and Time:</label>
        <input asp-for="ShowDateTime" class="form-control" />
        <span asp-validation-for="ShowDateTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-secondary mt-4" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
