<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VelvetScreen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookingWebApplication.styles.css" asp-append-version="true" />

    <link href="~/css/navbar.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VelvetScreen</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarShared" aria-controls="navbarShared"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarShared">
                    <ul class="navbar-nav w-100">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Movie" asp-action="Index">Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Cinema" asp-action="Index">Cinemas</a>
                        </li>
                        @{
                            if (ViewBag.UserRole != null)
                                if (ViewBag.UserRole.Equals("ContentAdmin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="ContentAdmins" asp-action="CreateProvoli">Create Screening</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="ContentAdmins" asp-action="CreateMovie">Add Movie</a>
                                    </li>
                                }
                        }
                        <li class="nav-item dropdown ms-auto mb-lg-8">
                            @{
                                if (ViewBag.MySession != null)
                                {
                                    if (ViewBag.UserRole.Equals("Customer"))
                                    {
                                        <div class="dropdown-center">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                @ViewBag.UserName
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                                                <li><a class="dropdown-item" asp-area=""  asp-controller="Reservation" asp-action="History">History</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a></li>
                                            </ul>
                                        </div>
                                    }
                                    else
                                    {
                                        <a class="btn btn-secondary" asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a>
                                    }
                                }
                                else
                                {
                                    <a class="btn btn-secondary" asp-area="" asp-controller="Account" asp-action="Login">Log In</a>
                                }
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2024 - BookingWebApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
